<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>


## todo, making the formats of all the pages just for now. 
## start with a basic blocking. and then we can move onto other features. 
## final thing is style and then the web scraper.
